@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@model IEnumerable<MvcBlogg.Models.Makale>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h2>Makaleler</h2>

    <p>
        @Html.ActionLink("Yeni Makale", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Okunma)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </td>
             
                <td>
                    <img width="75" src="@item.Foto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarih)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Okunma)
                </td>
                <td>
                    
                   
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.MakaleId }) |
                    @Html.ActionLink("Detaylar", "Details", new { id = item.MakaleId }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.MakaleId })
                </td>
            </tr>
        }

    </table>

    <ul class="pagination justify-content-center mb-4">
        @Html.PagedListPager((X.PagedList.IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
    </ul>
</div>